.header {
  display: flex;

  background-color: #eeeeee;
}
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;

  background-color: #ffffff;
}

.main-nav {
  display: flex;

  font-weight: 500;
  line-height: 30px;
  color: black;
}

.basket {
  font-weight: 500;
  line-height: 30px;
  color: black;
}

.basket a {
  color: black;
}

.main-nav ul {
  list-style: none;
}

.main-nav a {
  color: black;
} 
.main-nav a:hover {
  color: #fb565a;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3;
}

a {
  text-decoration: none;
}


.slider-text strong {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: black;
}

.button {
  font: inherit;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-2 {
  background-color: #00ca74;
}

.button-2:hover {
  background-color: #00bc6c;
}

.button-3 {
  background-color: #efc84a;
}

.button-3:hover {
  background-color: #eab534;
}

.service h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: black;
}

.service-list__item p {
  font-size: 16px;
  line-height: 24px;
}

.about-us-text strong {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: black;
}

.about-us-text h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.about-us-img p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.hr {
  font-weight: 500;
  font-size: 45px;
  line-height: 10px;
  color: black;
}

.sr {
  line-height: 18px;
}

.write-us__bold {
  font-weight: 500px;
  font-size: 18px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.write-us__address {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-bold {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  color: black;
}

.footer-sale {
  line-height: 22px;
  color: #444444;
}


.about-us-list {
  list-style: none;
}

.social-list {
  list-style: none;
}

.modal-form ul {
  list-style: none;
}

.footer-sale,
.footer-friendship {
  text-align: center;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.modal h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: black;
}

.modal-form-item label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: black;
}

.modal-form input {
  font: inherit;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.modal-form input:hover {
  background-color: #ffffff;
  border: 2px solid #b4b9bb;
}

.modal-form input:focus {
  background-color: #ffffff;
  border: 2px solid black;
}

.modal-form-input:invalid {
  color: #e74246;

  background-color: #ffffff;
  border: 2px solid #e74246;
}

.header-shop {
  background-color: #eeeeee;
}

.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: black;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: black;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  color: #283136;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: black;

  background-color: #eeeeee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog ul {
  list-style: none;
}

.catalog-list__window {
  text-align: center;

  background-color: #eeeeee;
}

.catalog-list__window p {
  line-height: 18px;
  color: #666666;
}

.catalog-list__window h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: black;
}


.pagination-list a {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: black;

  background-color: #eeeeee;
}

.pagination-item-current a {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
} 

.pagination-list a:hover {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.modal-form-item textarea {
  font: inherit;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.modal-form-item textarea:hover {
  background-color: #ffffff;
  border: 2px solid #b4b9bb;
}

.modal-form-item textarea:focus {
  background-color: #ffffff;
  border: 2px solid black;
}
/* НАЧАЛО ПОСТРОЕНИЯ СЕТОК */
body > * {
  background-color: rgba(38, 185, 24, 0.5);
}

body > * > * {
  background-color: rgba(227, 240, 48, 0.5);
}

body > * > * > * {
  background-color: rgba(29, 32, 235, 0.5);
}

body > * > * > * > * {
  background-color: rgba(235, 29, 173, 0.5);
} 

html,
body {
  min-width: 1440px;
}


.container {
  display: block;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}


.nav-list,
.basket {
  margin: 0;
  padding: 0;
}

.basket {
  width: 125px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
}

.slider {
  display: flex;
  justify-content: space-between;

  background-color: #eeeeee;
}

.slider-text {
  width: 376px;
  margin-top: 80px;
  margin-right: 55px;
}

.slider-image {
  min-width: 698px;
  min-height: 413px;
  margin-right: 32px;
}

.background {
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.service-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-list__item {
  width: 300px;
}

.service-list__item:last-of-type {
  margin-right: 60px;
}

.service {
  margin-bottom: 160px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.about-us-text {
  margin-right: 150px;
}

.partners {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  margin-top: 140px;
}

.academy {
  margin-left: 30px;
}

.mishka {
  margin-right: 43px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.ffd {
  margin-right: 216px;
}

/* РАЗМЕТКА СТРАНИЦЫ МАГАЗИНА */

.header-shop {
  display: flex;
  flex-direction: column;
  min-height: 355px;
  margin-bottom: 60px;
}

.main-title {
  order: 1;
}

.main-nav-shop {
  justify-content: space-between;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

.filters {
  min-width: 260px;
  height: 705px;
  margin-right: 140px;
}

.catalog {
  min-width: 760px;
  min-height: 1915px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.catalog-list__item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 33px;
}

.catalog-list__item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  min-height: 50px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  min-width: 50px;
  min-height: 50px;
  margin-right: 11px;
}
