html,
body {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 49px;

  background-color: #eeeeee;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main-nav {
  flex-grow: 1;

  font-weight: 500;
  line-height: 1.88;
  color: black;
  text-transform: uppercase;
}

.main-nav a {
  color: black;
}
.main-nav a:hover {
  color: #fb565a;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;

  font: inherit;
  line-height: 1.13;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

/* .button {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;  
} */

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-2 {
  background-color: #00ca74;
}

.button-2:hover,
.button-2:focus {
  background-color: #00bc6c;
}

.button-3 {
  background-color: #efc84a;
}

.button-3:hover,
.button-3:focus {
  background-color: #eab534;
}

.service h3 {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: black;
  text-transform: uppercase;
}

.service-list__item img {
  margin-bottom: 25px;
}

.service-list__item p {
  margin: 0;
  margin-bottom: 33px;
}

.column-left strong {
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  color: black;
}

.column-left h4 {
  margin-bottom: 24px;

  font-weight: 700;
  color: black;
  text-transform: uppercase;
}

.paragraph-bold {
  margin-bottom: 33px;
  padding-top: 18px;
}

.paragraph-desc {
  margin-bottom: 39px;
}

.column-right p {
  margin: 0;
  padding: 0;

  font-weight: 700;
  color: black;
  text-transform: uppercase;
  /* font-size: 16px;
  line-height: 24px; */
}

.about-us-table td {
  padding: 0;
} /*Не забыть переименовать*/

.hr td {
  padding-top: 2px;

  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  text-align: left;
  color: black;
}

.sr td {
  padding-top: 17px;
  padding-right: 14px;

  line-height: 1.13;
  text-align: left;
}

.about-us-table .cell-second {
  padding-left: 11px;
}

.about-us-table .cell-third {
  padding-left: 8px;
}

sup {
  font-size: 28px;
}

.write-us__bold {
  font-weight: 500px;
  font-size: 18px;
  line-height: 1.67;
  color: black;
  text-transform: uppercase;
}

.write-us__address {
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.13;
  color: #666666;
}

.footer-bold {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: black;
}

.footer-sale,
.footer-friendship {
  margin: 0;
  padding: 0;
}

.footer-sale {
  margin-left: 10px;

  line-height: 1.38;
  color: #444444;
}


.about-us-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  padding: 0;

  list-style: none;
}

.modal-form ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners a {
  /* display: inline-block; */
  position: relative;
}

.partners img {
  opacity: 0.2;
}

.partners img:hover {
  opacity: 1;
}

.partners img:active {
  opacity: 0.1;
}

.modal h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  color: black;
}

.modal-form-item label {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.13;
  color: black;
}

.modal-form input {
  height: 50px;
  padding-left: 16px;

  font: inherit;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal-form input:hover {
  background-color: #ffffff;
  border: 2px solid #b4b9bb;
}

.modal-form input:focus {
  background-color: #ffffff;
  border: 2px solid black;
}

.modal-form-input:invalid {
  color: #e74246;

  background-color: #ffffff;
  border: 2px solid #e74246;
}

.main-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 80px;
  padding-bottom: 107px;

  font-weight: 500;
  font-size: 55px;
  line-height: 1;
  text-align: center;
  color: black;

  background-color: #eeeeee;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: black;
  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 1.25;
  color: #283136;
}

.filter .filter-button {
  width: 260px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.13;
  color: black;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog ul {
  list-style: none;
}

.catalog-list__window {
  position: absolute;
  bottom: 0;

  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 231px;

  text-align: center;

  background-color: #eeeeee;
}

.catalog-list__window p {
  line-height: 1.13;
  color: #666666;
}

.catalog-list__window h4 {
  margin: 0;
  padding-top: 30px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.66;
  color: black;
  text-transform: uppercase;
}


.pagination-list a {
  display: inline-block;
  padding: 16px 21px;

  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: black;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-list .next {
  padding: 16px 76px;
}

/* .pagination-item-current a {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;  
} */

.pagination-list a:hover {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.modal-form-item textarea {
  height: 118px;
  margin-bottom: 37px;
  padding: 14px 0 0 15px;

  font: inherit;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;

  resize: none;
}

.modal-form-item textarea:hover {
  background-color: #ffffff;
  border: 2px solid #b4b9bb;
}

.modal-form-item textarea:focus {
  background-color: #ffffff;
  border: 2px solid black;
}
/* НАЧАЛО ПОСТРОЕНИЯ СЕТОК */
/* body > * {
  background-color: rgba(38, 185, 24, 0.5);
}

body > * > * {
  background-color: rgba(227, 240, 48, 0.5);
}

body > * > * > * {
  background-color: rgba(29, 32, 235, 0.5);
}

body > * > * > * > * {
  background-color: rgba(235, 29, 173, 0.5);
}

body > * > * > * > * > * {
  background-color: rgba(235, 29, 29, 0.5);
} */

.container {
  display: block;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-list,
.basket {
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  width: 440px;

  list-style: none;
  /*Можно подогнать текст на свое место position: relative*/
}

.down {
  position: relative;
  top: 8px;
}

.background {
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.service-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-list__item {
  width: 300px;
}

.service-list__item:last-of-type {
  margin-right: 60px;
}

.service {
  margin-bottom: 40px;
  padding-bottom: 79px;

  border-bottom: 2px solid #eeeeee;
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  padding-bottom: 73px;

  border-bottom: 2px solid #eeeeee;
}

.column-left {
  /* margin-top: 18px; */
  width: 660px;
}

.barbershop {
  transform: translate(-10px, -3px);
}

.pink {
  transform: translate(-13px, -3px);
}

.academy::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 249px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.barbershop::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 253px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.pink::after {
  content: "";
  position: absolute;
  top: 0;
  left: 240px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.partners {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  padding-right: 43px;
  padding-bottom: 41px;
  padding-left: 30px;
  /* padding-bottom: 35px;
  margin-bottom: 80px;
  vertical-align: middle; */

  border-bottom: 2px solid #eeeeee;
}

.footer-flex {
  display: flex;
  justify-content: flex-start;
}

.ffd {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-top: 22px;
  margin-left: 130px;
}

/* РАЗМЕТКА СТРАНИЦЫ МАГАЗИНА */

.container-flex {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
  height: 705px;
  margin-right: 140px;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.catalog-list__item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 33px;
}

.catalog-list__item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.pagination-item {
  box-sizing: border-box;
  margin-right: 10px;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  display: block;
  margin-right: 200px;
}

.background-shop {
  margin-bottom: 58px;

  background-color: #eeeeee;
}

.display-img {
  display: block;
}

.display-map {
  display: block;
  margin: 0 auto;
}

.basket {
  position: relative;

  width: 115px;

  text-align: right;
}

.basket__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* СТИЛИЗАЦИЯ СЛАЙДЕРА */

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  bottom: 104px;
  left: 50%;
  z-index: 100;

  width: 160px;
  height: 18px;

  font-size: 0;
  text-align: center;

  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-weight: 500;
  font-size: 55px;
  line-height: 1;
  color: black;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  color: #283136;
}

/* КОНЕЦ СЛАЙДЕРА */



.btn-small {
  width: 160px;
}

.slider {
  margin-bottom: 80px;
}

.column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin: 0;
  padding: 0;
}

.about-us-table {
  margin-top: 37px;
}

.map {
  position: relative;

  margin-bottom: 53px;
}

.write-us {
  position: absolute;
  top: 54px;
  left: 372px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 319px;
  height: 308px;
  padding-top: 33px;
  padding-left: 50px;

  background-color: #ffffff;
}

.write-us-button {
  width: 219px;
  margin: 0;
}

.paragraph-headline {
  margin-bottom: 7px;
}

.paragraph-phone {
  margin-bottom: 33px;
  padding-bottom: 1px;
}

.map-marker {
  position: absolute;
  top: 88px;
  right: 620px;
}

.link-vk::before {
  content: "";

  width: 26px;
  height: 15px;

  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
}

.link-fb::before {
  content: "";

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}

.link-insta::before {
  content: "";

  width: 21px;
  height: 21px;

  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
}

.link-vk:active::before,
.link-fb:active::before,
.link-insta:active::before {
  opacity: 0.3;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: #e74246;
}

.social-list__link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.footer-friendship {
  margin-bottom: 9px;
  margin-left: 10px;
}

.about-us-list li::before {
  content: "";

  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 11px;
  margin-left: 1px;

  vertical-align: middle;

  background-color: #fb565a;
}

.about-us-list li {
  margin-bottom: 24px;
}

.about-us-list li:last-child {
  margin-bottom: 0;
}

.catalog-list__button {
  width: 200px;
  margin: 0 auto;
}

.catalog-list__article {
  position: relative;
}

.catalog-list__item:hover .catalog-list__window,
.catalog-list__item:focus .catalog-list__window {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  bottom: 140px;
  left: 50%;

  box-sizing: border-box;
  width: 960px;
  min-height: 590px;
  margin-left: -480px;
  padding: 0 100px 84px 100px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-form-item {
  flex-grow: 1;
  width: 360px;
}

.modal-form-item:first-of-type {
  padding-right: 40px;
}

.modal-form-item p {
  display: flex;
  flex-direction: column;
}

.modal-form-item label {
  margin-bottom: 12px;
}

.modal-close {
  position: absolute;
  top: 48px;
  right: 90px;

  width: 21px;
  height: 21px;

  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  border: none;
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.catalog-list__item::before {
  content: "";

  display: block;
  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-list__item:hover::before {
  opacity: 1;
}

.catalog-list__item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.filter fieldset {
  padding: 0;
}

.filter-option {
  /* position: relative; */
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.filter-option-margin {
  margin-bottom: 25px;
}

.filter-grid {
  margin-bottom: 13px;
}

.filter-input-radio + label::before {
  content: "";

  display: inline-block;
  height: 25px;
  padding-left: 35px;

  vertical-align: top;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  opacity: 0.4;
}

.filter-feature {
  margin-bottom: 12px;
}

.filter-option-feature {
  padding-bottom: 14px;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox + label::before {
  content: "";

  display: inline-block;
  height: 27px;
  padding-left: 35px;

  vertical-align: top;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 23px 23px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 27px 23px;
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
  opacity: 1;
}

.filter-input:disabled + label::before {
  opacity: 0.1;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.fieldset-feature {
  margin-bottom: 29px;
}

/* .right-line::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: black;
  top: 0;
  left: 250px;

} */

.pic {
  margin-bottom: 36px;
}

.current-page {
  position: relative;
}

.current-page::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}

/* СТИЛИЗАЦИЯ СЛОЖНОГО ФИЛЬТРА МАГАЗИНА */

.filter-item {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.max-price {
  text-align: right;
}

/* КОНЕЦ ФИЛЬТРА */
